.navbar {
  align-items: center;
  position: relative;
  width: 100%;
  top: 0;
  bottom: 633.2px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0 2px 4px -1px;
  box-sizing: border-box;
  display: flex;
  height: 48px;
  justify-content: flex-start;
  padding: 8px 0px;
  position: fixed;
  z-index: 100;
  transition: background-color 1s linear, transform 0.5s linear;
  background: linear-gradient(
    to right,
    rgb(32, 78, 207) 1%,
    rgb(32, 78, 207) 90%
  ) !important;
}
.navbar.hidden {
  transform: translateY(-100%);
}

.navbar ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-left: 10%;
  white-space: nowrap; /* 禁止换行 */
  overflow: hidden; /* 隐藏溢出的内容 */
}

.navbar li {
  border-radius: 4px;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.65);
  padding: 10px 40px;
  height: 48px;
}

.navbar a {
  color: black;
  text-decoration: underline;
  text-decoration: none;
  font-size: 20px;
  font-family: "Fredoka One", cursive;
  color: white;
}

.container {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 0 0px;
  height: 48px;
}

.search {
  position: absolute;
  right: 5%;
  color: rgba(255, 255, 255, 0.65);
  font-size: 20px;
  font-family: "Fredoka One", cursive;
}

.search {
  display: flex;
}

.search input {
  width: 0;
  opacity: 0;
  transition: width 0.5s, opacity 0.5s;
}

.search input.visible {
  width: 200px;
  opacity: 1;
  border-radius: 8px;
  padding-left: 10px;
}

.search img {
  cursor: pointer;
  padding-right: 10px;
}

.search img:active {
  transform: scale(0.9);
  transition: transform 0.1s;
}
.signal img {
  margin-right: 5px;
}
.signal label {
  position: relative; /* 改为相对定位 */
  bottom: 5px;
  cursor: pointer;
}
.signal:active {
  transform: scale(0.9);
  transition: transform 0.1s;
}
