body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(238, 238, 238);
  background-size: cover; /* 背景图片覆盖整个页面 */
  background-position: center; /* 背景图片居中 */
  background-repeat: no-repeat; /* 背景图片不重复 */
  background-attachment: fixed; /* 背景图片固定 */
  position: relative;
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* 水平对齐 */

  margin-top: 50px;
  background-color: rgb(238, 238, 238);
}

.main {
  display: flex;
  flex-direction: column;

  width: 78%;
}
.rightBar {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  height: 610px;
  margin-bottom: 25px;
  width: 22%;
}
.title {
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(32, 78, 207);
  color: white;
}

/* 当页面宽度小于 768px 时隐藏 rightBar */
@media (max-width: 1250px) {
  .rightBar {
    display: none;
  }
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  color: #6b7280;
  border-top: 1px solid #e1e1e1;
  padding: 20px 90px;
  font-size: 14px;
  margin-top: 5%;
}

.footer .description {
  text-align: left;
}

.footer .recordNumber {
  text-align: right;
}

.footer a {
  color: #6b7280;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
