.content {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.05); /* 添加更自然的阴影效果 */
  width: 250px;
  padding: 10px 10px;
  margin-bottom: 20px;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out; /* 过渡效果，使鼠标悬停时有动画 */
}
.reactCalendar {
  border: none; /* 移除外边框线 */
}
.reactCalendar .react-calendar__month-view__weekdays__weekday {
  border-bottom: none; /* 移除星期几标志下面的虚线 */
}
