.card {
    
    background-color: #ddefff;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* 添加阴影效果 */
    color: #353535;
    font-size: 14px;
    overflow: hidden;
   
    width: 700px;
    display: -webkit-box;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* 过渡效果，使鼠标悬停时有动画 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-bottom: 15px;
}
.card:hover {
    transform: translateY(-5px); /* 鼠标悬停时上移 */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* 鼠标悬停时增加阴影 */
  }

.card a {
    text-decoration: none;
    color:  black;
}


.content {
    width: 660px;
    padding-left: 25px;
    padding-bottom: 0px;
    display: -webkit-box;
    overflow: hidden;
    font-size: 18px; /* 统一字体大小 */
    line-height: 1.5; /* 统一行高 */
}
.collapsed{
    height: 160px;
}
.expanded{
    height: none;
}
.bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    margin-bottom: 5px;
}
.date {
    font-size: 14px;
}

.link {
    font-size: 14px;
    padding-right: 16px;
}
.expandButton{
   position: absolute;
   bottom: 0;
   left: 50%;
}

